* {
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

html,
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-size: 62.5%; }

@media screen and (min-width: 321px) and (max-width: 375px) {
  html {
    font-size: 11px; } }

@media screen and (min-width: 376px) and (max-width: 414px) {
  html {
    font-size: 12px; } }

@media screen and (min-width: 415px) and (max-width: 639px) {
  html {
    font-size: 15px; } }

@media screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 20px; } }

@media screen and (min-width: 720px) and (max-width: 749px) {
  html {
    font-size: 22.5px; } }

@media screen and (min-width: 750px) and (max-width: 799px) {
  html {
    font-size: 23.5px; } }

@media screen and (min-width: 800px) {
  html {
    font-size: 25px; } }

body {
  line-height: 1.5;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; }

ol,
li,
ul {
  list-style: none; }

html {
  -webkit-text-size-adjust: 100%; }

a,
div,
header,
span {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
textarea {
  outline: 0;
  resize: none; }

html {
  -webkit-text-size-adjust: none; }

a {
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

img {
  width: 100%;
  vertical-align: middle; }

a:active {
  outline: 0; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.clearfix::before {
  content: ' ';
  display: table; }

.clearfix::after {
  content: ' ';
  display: table;
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.tourism {
  padding: 38.66667% 4% 0;
  background: url("../images/mobile_bj.jpg") no-repeat top center;
  background-size: 100%;
  font-size: 1.5rem;
  color: #ffe13b; }
  .tourism .time {
    font-size: 0.7rem;
    text-align: center;
    color: #fff; }

.key {
  margin-top: 60%;
  height: 2.6rem;
  line-height: 2.6rem; }
  .key .key-txt span {
    font-size: 1.8rem; }
  .key .key-btn {
    padding: 0 0.8rem;
    line-height: 2.6rem;
    height: 2.6rem;
    color: #00a0e9;
    border: 1px solid #00a0e9;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem; }

.open-btn {
  display: block;
  margin: 62.13333% auto 0;
  width: 49.06667%; }

.record {
  height: 5.5rem;
  margin: 9.33333% 0 3.06667%;
  text-align: center;
  font-size: 1.3rem;
  color: #01f6ff;
  overflow: hidden; }

.my-box {
  margin-top: 5.33333%; }
  .my-box .box-list {
    margin: 5.33333% 0; }
    .my-box .box-list .gift {
      position: relative;
      float: left;
      width: 14%;
      padding-top: 14%;
      background: url("../images/gift-box.png") no-repeat center;
      background-size: 100%; }
    .my-box .box-list > .gift:not(:last-child) {
      margin-right: 3%; }
    .my-box .box-list img {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 60%; }

.dsn {
  margin: 12.26667% 0 9.33333%;
  text-align: center; }
  .dsn img {
    width: 71.6%; }

.exchange > div {
  position: relative;
  float: left;
  margin-top: 9.33333%;
  width: 44.26667%; }
  .exchange > div img {
    position: relative;
    z-index: 2; }
  .exchange > div::before {
    content: "";
    position: absolute;
    bottom: 10%;
    left: -1%;
    width: 5%;
    padding-top: 5%;
    background: #d25f15;
    transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    z-index: 0; }

.exchange > div:nth-child(2n) {
  float: right; }

.exchange .exchange-btn {
  position: absolute;
  bottom: -0.75rem;
  left: -0.25rem;
  padding: 0 1rem;
  color: #fff;
  letter-spacing: 5px;
  background: #f6b436;
  z-index: 3; }
  .exchange .exchange-btn .arrow {
    position: absolute;
    top: 0;
    right: -10%;
    border: 12px solid transparent;
    border-top: 12px solid #f6b436;
    border-bottom: 12px solid #f6b436; }

.warning {
  margin-top: 100%;
  line-height: 2;
  font-size: 1.2rem;
  color: #336699;
  text-align: center; }
